

{% extends 'vine/base.html' %}


{% block body %}

<ul class="album">

    {% if not all_albums  %}
      {% if not all_vines  %}

        <h3> No result found <i class="fa fa-frown-o" aria-hidden="true"></i></h3>
      {% endif %}
    {% endif %}
    {% if all_albums %}
{% for album in all_albums %}
<li><a href ="{% url 'Vine:detail' album.id %}">

    <img id="theImage"  src="{{ album.vine_logo.url }}" class="img-fluid"  style="width:320px;height:320px;">

    <p  id="theInfo" style="width:320px;height:30px;"> {{ album }}  </p>  </a></li>
{% endfor %}
    {% endif %}

    <!-- vines for search-->
    {% if all_vines %}
  {% for vine in all_vines %}
   <li>  <a href="{% url 'Vine:vine_detail' vine.album.id vine.id %}" >
   <iframe width="300px" height="295px" src="{{ vine.video.url }}"
           frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p style="width:320px;height:30px;font-size:15px;">{{ vine }} <img src = "{{ vine.country.flag }}" width="20" height="12"/> </p>
   </a></li>

{% endfor %}
    {% endif %}
</ul>

{% endblock %}