{% extends 'vine/base.html' %}

{% block body %}
<p> <h3> {{album}} </h3>
<a class="btn btn-success" href="{% url 'Vine:vine-add' album.id %}"><i class="fa fa-plus"></i> Add Vine </a></p>

{% for vine in album.vine_set.all %}
<ul class="vine" style="margin-top:30px;">
<li><a href="{% url 'Vine:vine_detail' album.id vine.id %}" >
   <iframe width="300" height="250" src="{{ vine.video.url }}"
           frameborder="0" ></iframe>

<p style="width:300px;height:30px;font-size:15px;">{{ vine }} <img src = "{{ vine.country.flag }}" width="20" height="12"/> </p>

</a>


    <form action="{% url 'Vine:vine-delete' album.id vine.id %}" method="post" >
        {% csrf_token %}
     <p>   <a class="btn btn-success" href="{% url 'Vine:vine-update' album.id vine.id %}"> Edit </a>
         <Button class="btn btn-danger"> Delete </Button></p>
    </form>

</li>

{% endfor %}
</ul>
{% endblock %}