{% extends 'vine/base_visitor.html' %}

{% block body %}
<div class="row">


    <div class="col-12 col-md-12">

        <div class="panel panel-default">
            <div class="panel-body" style="margin-top:15px;margin-right:400px;padding:20px;background-color:white;">

                <form class="form" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}











                    <div class="form-group">
                        <div class="offset-md-8 col-12">
                            <button type="submit" class="btn btn-success"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}