{% extends 'vine/base.html' %}


{% block body %}

<div class="row">
    <div class="col-6 col-md-7">
        <div class="panel panel-default bg-dark">
            <div class="panel-body" style="margin-top:15px;padding:20px;">
                <p  style="color:#5cb85c;font-size:20px;"> Edit Album</p>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    {% include 'vine/form-template.html' %}
                    <div class="form-group">
                        <div class="offset-md-5 col-10">
                            <button type="submit" class="btn btn-success"> Submit </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}